<?php

return
    [
        'api' => [
            'leaderSend' => [
                'key' => '',
            ],
            'mailgun' => [
                'key' => '',
            ],
            'mailganer' => [
                'login' => '',
                'key' => ''
            ]
        ]
    ];
